	.alert_complete_wrap{
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;

		padding: 20px;

		margin-top: 30px;
	}
	.alert_complete_main{
		font-size: 16px;
		font-weight: bold;
		margin-bottom: 20px;
		color: #FF5400;
		text-align: center;
	}
	.alert_complete_sub{
		font-weight: bold;
		text-align: center;
		line-height: 2em;
	}
	.alert_complete_desc{
		font-weight: lighter;
		font-size: 11px;
		color: #A5A5A5;
		text-align: center;

		margin-top: 20px;
	}
	.date_table{
		margin-top: 40px;
	}
	.date_table_head{
		font-size: 11px;
		text-align: center;
	}
	.table{
		display: flex;
	}
	.table_head{
		flex: none;

		display: flex;
		justify-content: center;
		align-items: center;
		padding: 10px 18px;
		border-left: 1px solid #00153B;
	}
	.table_content{
		width: 100%;
		display: flex;
		align-items: center;
		padding-left: 16px;

		font-weight: bold;
	}
	.table:nth-of-type(1) .table_head{
		border-top: 1px solid #00153B;
		border-right: 1px solid #00153B;
	}

	.table:nth-of-type(2) .table_head{
		border-top: 1px solid #00153B;
		border-right: 1px solid #00153B;
		border-bottom:  1px solid #00153B;
	}

	.table:nth-of-type(1) .table_content{
		border-top: 1px solid #00153B;
		border-right: 1px solid #00153B;
	}

	.table:nth-of-type(2) .table_content{
		border-top: 1px solid #00153B;
		border-right: 1px solid #00153B;
		border-bottom:  1px solid #00153B;
	}
	.section_border{
		margin-top: 40px;
		margin-bottom: 40px;
	}
	.desc_image_Wrap_desc{
		text-align: center;
		font-size: 11px;
		font-weight: lighter;
	}
	.catch_desc_Wrap_head{
		text-align: center;
		font-stretch: 14px;
		color:  #FF5400;
		margin-bottom: 10px;
	}
	.desc_image_Wrap{
		padding: 16px;
		background-color: #FAFAFA;
		margin-bottom: 30px;
	}
	.desc_image_Wrap > img{
		width: 100%;
		margin-top: 16px;
	}
	.pagebottom_link{
		left: 0;
	}





